*{
    list-style: none; 
    text-decoration: none;
    
}
   



.nav{ 
   height: 80px; 
  z-index: 999;
  position: absolute;
  
}

#ban{
    width: 100%;
    height: 86px;
    display: flex;
    position: absolute;
    top: 5px;
    left: 0px;
}

#ban2{
    height: 5px;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0px;
}

.nav-links { 
    font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
    position: absolute;
    right: 17px;
    display: flex;
    padding-top: 4px;
    font-size: larger;
    list-style: none;
    font-weight: bold;
    color: #b09e80;
    justify-content: space-between;


}

#in{
    right: 500px;
    position: absolute;
    display: flex;
    border: 1px solid #b09e80;
    background-image:url(téléchargement.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 200;
    font-family: 'Playfair Display', serif;
    height: 30px;
    width: 250px;
    color: aliceblue;
    font-size: 20px;
    padding-bottom: 5px;

    
}

.nav-links a{
    color: #b09e80;
    

}

.nav-links ul{
    display: flex;
}
.nav-links ul li{
    margin: 0px 30px;
}


#long{
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 88px;
    left: 0px;
    
}

.ysn{
    top: 700px;
    position: absolute;
    font-weight: 300;
    font-size: 80px;
    color: rgb(230, 216, 216);
    margin-left: 38%;
    color: #b09e80;
    font-size: 150px;
}
   
.sub{
    position: absolute;
    top: 1050px;
    color: 	#777777 ;
    font-weight: 500;
    text-align: center;

}

#img2{
    height: 700px;
    width: 700px;
    background-size: cover;
    position: relative;
    top: 1500px;
    left: 0px;
    background-size: cover;
    z-index: 999;
    border: 5px solid black;
    margin-left: -8px;
    display: inline-block;
}



#back{
    position: absolute;
    height: 1100px;
    width: 100%;
    top: 1300px;
    left: 0px;
    opacity: 0.8;
    display: inline-block;
}

.calibre{
position: absolute;
top: 1300px;
color: black;
font-weight: 900;
z-index: 999;
font-size: 70px;
left: 880px;



}

.sub2{
position: relative;
display: inline-block ;
z-index: 800;
margin-top: 900px;
margin-left: 750px;
margin-right: 35px;
font-size: 30px;
text-align: center;
font-weight: 100;
opacity: 0.8;


}

.patek{
    margin-top: 700px;
    word-spacing: 40px;
    margin-left: 30px;
}

.font{
    font-family: 'Poppins', sans-serif;
    font-family: 'Playfair Display', serif;
    display: flex;
    
}

.font h1{
    margin: 0 71px;
    font-size: 20px;
    opacity: 0.7;
}

#tit{
    position: absolute;
    top: 2400px;
    margin-left: 22%;
    font-size: 100px;
    color: rgb(54, 29, 29);
    font-weight: 300;
}

.bloc{
    position: absolute;
    height: 88%;
    width: 100%;
    z-index: -200;
    overflow: hidden;
    left: 0px;
    top: 85px;


}

.bloc::before{
    position: absolute;
    content:"";
    height: 100%;
    width: 100%;
    background-color: #00000073;
}